* {
  color: white;
}
.style-border {
  clip-path: polygon(0 0, 0 95%, 85% 100%, 100% 0%, 100% 0);
}

.vendor {
  clip-path: polygon(29% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.merchant {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.importer {
  clip-path: polygon(0 1%, 100% 0%, 71% 100%, 0% 100%);
}
.slider-img {
  width: 1200px;
  max-height: 380px;
}
.img-thumbnail {
  max-height: 112px;
  width: 300px;
}
